<div class="flex-column-centered">
  <p id="notice"><%= notice %></p>

  <h1>Drawings</h1>

  <% @drawings.newest_first.each do |drawing| %>
    <div class="drawing__container flex-column-centered">
      <h2><%= drawing.title.present? ? drawing.title : "Untitled" %></h2>
      <p><%= drawing.description.present? ? drawing.description : "No description" %></p>
      <small><%= link_to 'Delete', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></small>
      <img src="<%=drawing.base64_png%>">
    </div>
  <% end %>

</div>
