<p id="notice"><%= notice %></p>

<p>
  <strong>Teamname:</strong>
  <%= @pub_quiz_answer.teamname %>
</p>

<p>
  <strong>Q1answer:</strong>
  <%= @pub_quiz_answer.q1answer %>
</p>

<p>
  <strong>Q2answer:</strong>
  <%= @pub_quiz_answer.q2answer %>
</p>

<p>
  <strong>Q3answer:</strong>
  <%= @pub_quiz_answer.q3answer %>
</p>

<p>
  <strong>Q4answer:</strong>
  <%= @pub_quiz_answer.q4answer %>
</p>

<p>
  <strong>Q5answer:</strong>
  <%= @pub_quiz_answer.q5answer %>
</p>

<p>
  <strong>Q6answer:</strong>
  <%= @pub_quiz_answer.q6answer %>
</p>

<p>
  <strong>Q6answer:</strong>
  <%= @pub_quiz_answer.q6answer %>
</p>

<p>
  <strong>Q7answer:</strong>
  <%= @pub_quiz_answer.q7answer %>
</p>

<p>
  <strong>Q8answer:</strong>
  <%= @pub_quiz_answer.q8answer %>
</p>

<p>
  <strong>Q9answer:</strong>
  <%= @pub_quiz_answer.q9answer %>
</p>
<p>
  <strong>Q10answer:</strong>
  <%= @pub_quiz_answer.q10answer %>
</p>
<p>
  <strong>Q11answer:</strong>
  <%= @pub_quiz_answer.q11answer %>
</p>
<p>
  <strong>Q12answer:</strong>
  <%= @pub_quiz_answer.q12answer %>
</p>
<p>
  <strong>Q9answer:</strong>
  <%= @pub_quiz_answer.q9answer %>
</p>
<p>
  <strong>Q13answer:</strong>
  <%= @pub_quiz_answer.q13answer %>
</p>
<p>
  <strong>Q14answer:</strong>
  <%= @pub_quiz_answer.q14answer %>
</p>
<p>
  <strong>Q15answer:</strong>
  <%= @pub_quiz_answer.q15answer %>
</p>
<p>
  <strong>Q16answer:</strong>
  <%= @pub_quiz_answer.q16answer %>
</p>
<p>
  <strong>Q17answer:</strong>
  <%= @pub_quiz_answer.q17answer %>
</p>
<p>
  <strong>Q18answer:</strong>
  <%= @pub_quiz_answer.q18answer %>
</p>


<%= link_to 'Edit', edit_pub_quiz_answer_path(@pub_quiz_answer) %> |
<%= link_to 'Back', pub_quiz_answers_path %>
