<link href="https://fonts.googleapis.com/css?family=Vidaloka&display=swap" rel="stylesheet">
<%= javascript_include_tag 'homepage/homepage.js' %>


<div class="svg-container">
  <svg id="house" class="svg" opacity="0" viewBox="100 -20 280 400" height="100vh" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <%= render "pink" %>
  <%= render "orange" %>
  <%= render "yellow" %>
  <%= render "green" %>
  <%= render "dark-blue" %>
  <%= render "light-blue" %>

  <%= render "house-lines" %>

  <%= render "white-50" %>
  <%= render "white-100" %>
  </svg>
</div>



<div id="advent-home" class="window-container">
<% date_order = [11, 12, 5, 10, 3,
                 9, 21, 23, 22, 6,
                 20, 1, 24, 8, 18,
                 13, 19, 25, 17, 16,
                 7, 15, 4, 14, 2] %>
<% date_order.each do |i| %>
  <div class="window" id="window_<%=i%>">
    <a class="day-link" id="day-link_<%=i%>" href="/days/<%= i %>"><%= i %></a>
  </div>
<% end %>
</div>

<div id="menu-button" class="button-top-right">
  <i class="fa fa-bars menu-button"></i>
</div>
<%= render "menu" %>




<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    document.body.style.backgroundColor = '#435A6F'
    house.classList.add('animated');
    house.classList.add('fadeIn');
    house.setAttribute('opacity', 1);

    let dates = JSON.parse( window.localStorage.getItem("advent") );
    for(let i=1; i <= 25; i++){
      if(dates[i] === true){
        document.getElementById(`window_${i}`).classList.add("open");
        document.getElementById(`day-link_${i}`).remove();

      }
    }
  })

  document.addEventListener("DOMContentLoaded", function(){
    let dayLinks = document.getElementsByClassName('day-link');
    for(let i=0; i < dayLinks.length; i++ ){
      dayLinks[i].addEventListener("click", function(event){
        let number = event.target.id.match(/\d+/)[0];
        if(number <= <%= Time.now.day%>){
          document.getElementById("window_" + number).classList.add("open");
          updateAdventPlace(number);
        }
      })
    }
  })

</script>
