<p id="notice"><%= notice %></p>

<p>Name : <%=@whatsapp_stat.phrase%></p>
<p>sarah_frequency : <%=@whatsapp_stat.sarah_frequency%></p>
<p>hugo_frequency : <%=@whatsapp_stat.hugo_frequency%></p>

<%= link_to 'Edit', edit_whatsapp_stat_path(@whatsapp_stat) %> |
<%= link_to 'Back', whatsapp_stats_path %>
