<%= audio_tag ENV['CAN_CAN_AUDIO_URL'] %>

<div id="overlay" class="full-page-container child-centered-in-parent can-can__dark-overlay">
  <div class="can-can__overlay-message flex-column-centered">
    <h1>Welcome</h1>
    <button id='begin-button' class="can-can__begin-button" type="button" name="button" onclick="start();">Begin</button>
  </div>
</div>


<!-- The parent component -->
<div class="curtain">

    <!-- The component wrapper -->
  <div class="curtain__wrapper">

    <!-- The checkbox hack! -->
        <input id="curtain-open-trigger" type="checkbox" checked>

    <!-- The left curtain panel -->
    <div class="curtain__panel curtain__panel--left">
      <%= render 'challenges/svgs/can-can/left' %>
    </div> <!-- curtain__panel -->

    <!-- The prize behind the curtain panels -->
    <div class="curtain__prize">
      <div class="can-can__container">
        <%= image_tag ENV['CAN_CAN_1_IMG_URL'], class:"can-can__image--dance can-can__image" %>
        <%= image_tag ENV['CAN_CAN_2_IMG_URL'], class:"can-can__image--dance can-can__image" %>
        <%= image_tag ENV['CAN_CAN_3_IMG_URL'], class:"can-can__image--dance can-can__image" %>
        <%= image_tag ENV['CAN_CAN_4_IMG_URL'], class:"can-can__image--dance can-can__image" %>
      </div>
    </div> <!-
    </div> <!-- curtain__prize -->

    <!-- The right curtain panel -->
    <div class="curtain__panel curtain__panel--right">
      <%= render 'challenges/svgs/can-can/right' %>
    </div> <!-- curtain__panel -->

  </div> <!-- curtain__wrapper -->
</div> <!-- curtain -->





<style media="screen">
  body{
    background-color: orange;
  }
</style>

<%= javascript_include_tag '23-can-can/can-can.js'%>
