<%= audio_tag ENV['CAN_CAN_AUDIO_URL'] %>

<div id="overlay" class="full-page-container">
  <div id="overlay" class="child-centered-in-parent">
    <div class="can-can__overlay-message flex-column-centered" style="position:absolute; margin-top:5em; z-index:1000;">
      <h1>Welcome</h1>
      <button id='begin-button' class="can-can__begin-button" type="button" name="button" onclick="start();">Begin</button>
    </div>
  </div>
</div>

<div id="curtain" class="curtain">
  <%= render 'challenges/svgs/can-can/top-down-curtain' %>
</div>

  <div class="can-can__container">
    <%= image_tag ENV['CAN_CAN_1_IMG_URL'], class:"can-can__image--dance can-can__image" %>
    <%= image_tag ENV['CAN_CAN_2_IMG_URL'], class:"can-can__image--dance can-can__image can-can__top" %>
    <%= image_tag ENV['CAN_CAN_3_IMG_URL'], class:"can-can__image--dance can-can__image" %>
    <%= image_tag ENV['CAN_CAN_4_IMG_URL'], class:"can-can__image--dance can-can__image can-can__top" %>
  </div>



<style media="screen">
  body{
    background-color: orange;
  }
</style>

<%= javascript_include_tag '23-can-can/can-can.js'%>
