<%= audio_tag 'can-can.m4a' %>


<div id="overlay" class="child-centered-in-parent can-can__dark-overlay">
  <div class="can-can__overlay-message flex-column-centered">
    <h1>Welcome to the show</h1>
    <p>Sound up!</p>
    <i class="fa fa-volume-up mb-3" aria-hidden="true"></i>
    <button id='begin-button' class="can-can__begin-button" type="button" name="button" onclick="start();">Begin</button>
  </div>
</div>

<div id="curtain" class="curtain">
  <%= render 'challenges/svgs/can-can/top-down-curtain' %>
</div>

  <div class="can-can__container">
    <div class="can-can__dancer-and-cymbal">
      <%= image_tag ENV['CAN_CAN_1_IMG_URL'], class:"can-can__image--dance can-can__image can-can__top" %>
      <div class="can-can__cymbal-container can-can__image--dance">
        <div class="cymbal cymbal__left">
          <%= render 'challenges/svgs/can-can/cymbals/left-cymbal' %>
        </div>
        <div class="cymbal cymbal__right">
          <%= render 'challenges/svgs/can-can/cymbals/right-cymbal' %>
        </div>
      </div>
    </div>

    <div class="can-can__dancer-and-cymbal">
      <%= image_tag ENV['CAN_CAN_2_IMG_URL'], class:"can-can__image--dance can-can__image" %>
      <div class="can-can__cymbal-container can-can__image--dance">
        <div class="cymbal cymbal__left">
          <%= render 'challenges/svgs/can-can/cymbals/left-cymbal' %>
        </div>
        <div class="cymbal cymbal__right">
          <%= render 'challenges/svgs/can-can/cymbals/right-cymbal' %>
        </div>
      </div>
    </div>

    <div class="can-can__dancer-and-cymbal">
      <%= image_tag ENV['CAN_CAN_3_IMG_URL'], class:"can-can__image--dance can-can__image can-can__top" %>
      <div class="can-can__cymbal-container can-can__image--dance">
        <div class="cymbal cymbal__left">
          <%= render 'challenges/svgs/can-can/cymbals/left-cymbal' %>
        </div>
        <div class="cymbal cymbal__right">
          <%= render 'challenges/svgs/can-can/cymbals/right-cymbal' %>
        </div>
      </div>
    </div>

    <div class="can-can__dancer-and-cymbal">
      <%= image_tag ENV['CAN_CAN_4_IMG_URL'], class:"can-can__image--dance can-can__image" %>
      <div class="can-can__cymbal-container can-can__image--dance">
        <div class="cymbal cymbal__left">
          <%= render 'challenges/svgs/can-can/cymbals/left-cymbal' %>
        </div>
        <div class="cymbal cymbal__right">
          <%= render 'challenges/svgs/can-can/cymbals/right-cymbal' %>
        </div>
      </div>
    </div>
  </div>



<style media="screen">
  body{
    background-color: orange;
    position: absolute;
    left: -10px;
    top: -10px;
    min-width: 100vw;
    min-height: 100vh;
    @media screen and (max-width: 800px) {
      width: 120vw;
      height: 120vh;
    }
  }
</style>

<%= javascript_include_tag '23-can-can/can-can.js'%>
