<%= audio_tag ENV['CAN_CAN_AUDIO_URL'] %>

<div id="overlay" class="full-page-container child-centered-in-parent can-can__dark-overlay">
  <div class="can-can__overlay-message flex-column-centered">
    <h1>Welcome</h1>
    <button id='begin-button' class="can-can__begin-button" type="button" name="button">Begin</button>
  </div>
</div>

<div id="curtains-container">
  <%= render 'challenges/svgs/can-can/left-curtain-long' %>
  <%= render 'challenges/svgs/can-can/right-curtain-long' %>
</div>

<div class="can-can__container">
  <%= image_tag ENV['CAN_CAN_1_IMG_URL'], class:"can-can__image--hidden can-can__image--dance can-can__image" %>
  <%= image_tag ENV['CAN_CAN_2_IMG_URL'], class:"can-can__image--hidden can-can__image--dance can-can__image" %>
  <%= image_tag ENV['CAN_CAN_3_IMG_URL'], class:"can-can__image--hidden can-can__image--dance can-can__image" %>
  <%= image_tag ENV['CAN_CAN_4_IMG_URL'], class:"can-can__image--hidden can-can__image--dance can-can__image" %>
</div>

<style media="screen">
  body{
    background-color: orange;
  }
</style>

<%= javascript_include_tag '23-can-can/can-can.js'%>
