<style media="screen">
  body {
    background-image: url('https://res.cloudinary.com/dl1rwtqzi/image/upload/v1577061246/carpet_dqn7il.jpg');
        background-size: contain;
  }
</style>
<%= audio_tag ENV['PUB_QUIZ_AUDIO_URL'], id:"rap-audio"%>

<div class="flex-column-centered container">
  <div class="quiz__container">
    <% if notice.present? %>
      <section id="team-name" class="quiz__section quiz__teamname text-center mb-3">
        <h1 class="comic-sans quiz__title text-center">🍺 Pub Quiz 🍺</h1>
        <p class="comic-sans mb-2" ><%= notice %></p>
        <p class="comic-sans mb-2" ><a href="/days/23">Click here to play again</a></p>
    <% else %>
      <%= form_with(model: @pub_quiz_answer, local: true) do |form| %>
        <section id="team-name" class="quiz__section quiz__teamname text-center mb-3">
          <h1 class="comic-sans quiz__title text-center">🍺 Pub Quiz 🍺</h1>
          <p class="comic-sans mb-2" >There's a weird carpet on the floor, everyone sat around you is 50+, and you've got a slightly warm pint. Time for a pub quiz!</p>


          <p class="comic-sans">Team Name:</p>
          <%= form.text_field :teamname, placeholder: "C'mon, impress me with your puns", class: "quiz__input mb-2" %>
        </section>
        <section id="dingbats-round" class="quiz__section dingbats mb-3">
          <h2 class="comic-sans">Dingbats round</h2>
          <div class="dingbats">
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q1</div>
              <%= image_tag 'pub-quiz/dingbats1.png', class:'dingbats__image' %>
              <%= form.text_field :q1answer, class: "quiz__input d-block" %>
            </div>
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q2</div>
              <%= image_tag 'pub-quiz/dingbats2.png', class:'dingbats__image' %>
              <%= form.text_field :q2answer, class: "quiz__input d-block" %>
            </div>
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q3</div>
              <%= image_tag 'pub-quiz/dingbats3.png', class:'dingbats__image' %>
              <%= form.text_field :q3answer, class: "quiz__input d-block" %>
            </div>
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q4</div>
              <%= image_tag 'pub-quiz/dingbats4.png', class:'dingbats__image' %>
              <%= form.text_field :q4answer, class: "quiz__input d-block" %>
            </div>
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q5</div>
              <%= image_tag 'pub-quiz/dingbats5.png', class:'dingbats__image' %>
              <%= form.text_field :q5answer, class: "quiz__input d-block" %>
            </div>
            <div class="mb-1">
              <div class="quiz__number comic-sans">Q6</div>
              <%= image_tag 'pub-quiz/dingbats6.png', class:'dingbats__image' %>
              <%= form.text_field :q6answer, class: "quiz__input d-block" %>
            </div>
          </div>
        </section>
        <section id="picture-round" class="quiz__section mb-3">
          <h2 class="comic-sans text-center">Picture round</h2>
          <section id="photo-1" class="flex-column-centered mb-2">
            <div class="polaroid flex-column-centered mt-0">
              <div class="quiz__number comic-sans">Q7</div>
              <%= image_tag 'pub-quiz/picture1.jpg', id:"photo-1", class:"photo"%>
              <div class="polaroid__bottom">
                <p class="comic-sans">Where did you show me this?</p>
                <%= form.text_field :q7answer, class: "quiz__input d-block" %>
              </div>
            </div>
          </section>
          <section id="photo-2" class="flex-column-centered mb-2">
            <div class="polaroid flex-column-centered mt-0">
              <div class="quiz__number comic-sans">Q8</div>
              <%= image_tag 'pub-quiz/picture2.png', id:"photo-2", class:"photo"%>
              <div class="polaroid__bottom">
                <p class="comic-sans">What did the image classification say I looked like?</p>
                <%= form.text_field :q8answer, class: "quiz__input d-block" %>
              </div>
            </div>
          </section>
          <section id="photo-3" class="flex-column-centered mb-2">
            <div class="polaroid flex-column-centered mt-0">
              <div class="quiz__number comic-sans">Q9</div>
              <%= image_tag 'pub-quiz/picture3.jpg', id:"photo-3", class:"photo"%>
              <div class="polaroid__bottom">
                <p class="comic-sans">What got hurt in this performance?</p>
                <%= form.text_field :q9answer, class: "quiz__input d-block" %>
              </div>
            </div>
          </section>
          <section id="photo-4" class="flex-column-centered mb-2">
            <div class="polaroid flex-column-centered mt-0">
              <div class="quiz__number comic-sans">Q10</div>
              <%= image_tag 'pub-quiz/picture4.jpg', id:"photo-4", class:"photo"%>
              <div class="polaroid__bottom">
                <p class="comic-sans">What were we doing this evening before you fell asleep in our Uber?</p>
                <%= form.text_field :q10answer, class: "quiz__input d-block" %>
              </div>
            </div>
          </section>
        </section>
        <section id="music-round" class="quiz__section mb-3">
          <h2 class="comic-sans text-center">Music round</h2>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q11</div>
            <p class="comic-sans text-center mb-0">Complete this well known lyric:</p>
            <p class="comic-sans text-center">BIM BIM BIM BIM BIM BIM BIM BIM ____</p>
            <%= form.text_field :q11answer, class: "quiz__input d-block" %>
          </section>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q12</div>
            <p class="comic-sans text-center mb-0">Complete this well known lyric:</p>
            <p class="comic-sans text-center">I'm just playing games, I know that's _______ love</p>
            <%= form.text_field :q12answer, class: "quiz__input d-block" %>
          </section>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q13</div>
            <p class="comic-sans text-center mb-1">Identify the artist for this song:</p>
            <button id="quiz-button-1" type="button" name="button" class="quiz__button mb-1">
              <i class="fa fa-volume-up" aria-hidden="true"></i> Click to play soundclip
            </button>
            <%= form.text_field :q13answer, class: "quiz__input d-block" %>
          </section>
        </section>
        <section id="sports-round" class="quiz__section mb-3">
          <h2 class="comic-sans text-center">Sports round</h2>
          <p class="comic-sans">Lol lets just skip this cos it's the lamest round</p>
        </section>
        <section id="masterchef-round" class="quiz__section mb-3">
          <h2 class="comic-sans text-center">Masterchef round!!</h2>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q14</div>
            <p class="comic-sans text-center">What are the first names of the three presenters on MasterChef: The Professionals?</p>
            <%= form.text_field :q14answer, class: "quiz__input d-block" %>
          </section>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q15</div>
            <p class="comic-sans text-center">Which of these tests appears latest in the MasterChef: The Professionals heats?</p>
            <div class="">
              <%= form.radio_button :q15answer, "Showstopper Dish", {id: "q15-option1"} %><label class="comic-sans text-center"  for="q15-option1">Showstopper Dish</label>
            </div>
            <div class="">
              <%= form.radio_button :q15answer, "Invention with Leftovers", {id: "q15-option2"}%><label  class="comic-sans text-center" for="q15-option2">Invention with Leftovers</label>
            </div>
            <div class="">
              <%= form.radio_button :q15answer, "Signature Dish", {id: "q15-option3"}%><label  class="comic-sans text-center" for="q15-option3">Signature Dish</label>
            </div>
            <div class="">
              <%= form.radio_button :q15answer, "Knowledge Test", {id: "q15-option4"}%><label  class="comic-sans text-center" for="q15-option4">Knowledge Test</label>
            </div>
          </section>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q16</div>
            <p class="comic-sans text-center">How many contestants are in MasterChef: The Professionals? (to nearset 10) </p>
            <%= form.text_field :q16answer, class: "quiz__input d-block" %>
          </section>
        </section>
        <section id="final-round" class="quiz__section mb-3">
          <h2 class="comic-sans text-center">Final wildcard round</h2>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q17</div>
            <p class="comic-sans text-center">What number is 01101 in binary?</p>
            <%= form.text_field :q17answer, class: "quiz__input d-block" %>
          </section>
          <section class="flex-column-centered mb-1">
            <div class="quiz__number comic-sans">Q18</div>
            <p class="comic-sans text-center">What does YANBU stand for?</p>
            <%= form.text_field :q18answer, class: "quiz__input d-block" %>
          </section>
        </section>
        <div class="quiz__submit">
          <input type="submit" name="" value="Submit answers">

        </div>
      <% end %>
    </div>
  </div>

  <%= javascript_include_tag '23-pub-quiz/pub-quiz.js'%>

<% end %>
