<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<%= javascript_include_tag '3-eyebrows/eyebrows.js' %>


  <div class="vw100 pt-5 d-flex flex-column justify-content-center">
    <div id="hugo-container">
      <%= render "challenges/svgs/eyebrows_start_message" %>
      <%= render "challenges/svgs/eyebrows_success_message" %>
      <%= render "challenges/svgs/eyebrows_hugo_message" %>
      <%= render "challenges/svgs/eyebrows_hugo_face" %>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <%= render "challenges/svgs/eyebrows_bad_fragrance_1" %>
      <%= render "challenges/svgs/eyebrows_good_fragrance_1" %>
      <%= render "challenges/svgs/eyebrows_bad_fragrance_2" %>
      <%= render "challenges/svgs/eyebrows_fav_fragrance" %>
      <%= render "challenges/svgs/eyebrows_good_fragrance_2" %>
    </div>
  </div>

<div id="holding-pen" class="row mt-5 pt-5" visibility="hidden">
  <svg id="ring--inner" class="ring spin--clockwise" opacity="0" viewBox="0 0 490 490" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 272.5 60 Q 276.8 61.3 276 66 L 283.5 64 Q 286.8 65.7 286 71.5 L 283.5 75 L 279 78.5 L 277.5 81 Q 271.8 81.8 271 77.5 L 268 70.5 L 268 63.5 L 272.5 60 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 211.5 63 L 215 65.5 L 216 72.5 L 213 76.5 L 212 82 Q 202.9 81.6 199 74.5 Q 196.3 72.2 197 66.5 Q 197.5 63.5 201.5 64 L 205 66.5 Q 204.3 69.1 207 68 L 209.5 64 L 211.5 63 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 337.5 85 Q 342.9 83.1 342 86.5 L 343 92 Q 348.4 90.5 350 93.5 Q 351.5 100.5 347.5 102 L 336.5 106 Q 331.6 101.9 333 91.5 L 337.5 85 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 144.5 90 Q 149.3 90.3 151 93.5 L 152 98.5 L 151 103.5 L 152 106.5 Q 150.5 109.5 144.5 108 Q 136.4 106.6 133 100.5 Q 132 96 134.5 95 L 142 96 Q 141 91.3 144.5 90 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 389.5 133 Q 395 132 396 135.5 L 394 142 Q 398.7 141 400 144.5 Q 400.8 150.3 396.5 151 L 391.5 152 L 386.5 151 L 383.5 152 Q 380.5 150.5 382 144.5 Q 383.9 136.9 389.5 133 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 93.5 140 Q 99.5 138.5 101 141.5 L 106 153.5 Q 101.9 158.4 91.5 157 L 85 152.5 Q 83.1 147.1 86.5 148 L 92 147 Q 90.5 141.6 93.5 140 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 419.5 197 Q 425 196 426 199.5 Q 425.7 204.7 422 206.5 L 427 210.5 L 424.5 215 L 417.5 216 L 413.5 213 L 408 212 Q 408.4 202.9 415.5 199 L 419.5 197 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 67.5 204 L 71.5 204 L 75 206 L 79.5 212 Q 82.5 211.1 81 215.5 L 71.5 222 L 63.5 222 L 60 217.5 Q 61.3 213.3 66 214 L 64 206.5 L 67.5 204 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 419.5 268 Q 428.3 266.3 430 271.5 L 426.5 276 Q 423.2 274.9 424 277.5 Q 426.6 278.9 426 283.5 Q 424.3 286.8 418.5 286 L 415 283.5 L 411.5 279 L 409 277.5 Q 408.3 272.8 411.5 272 L 419.5 268 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 67.5 274 L 72.5 274 L 76.5 277 L 82 278 Q 81.6 287.1 74.5 291 Q 72.2 293.7 66.5 293 Q 63.5 292.5 64 288.5 L 66.5 285 Q 69.1 285.7 68 283 L 64 280.5 L 63 278.5 L 65.5 275 L 67.5 274 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 390.5 333 Q 401.6 331.4 405 337.5 Q 406.9 342.9 403.5 342 L 398 343 Q 399.5 348.4 396.5 350 Q 390.5 351.5 389 348.5 L 384 336.5 L 390.5 333 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 95.5 338 L 103.5 339 L 106.5 338 Q 109.5 339.5 108 345.5 Q 106.6 353.6 100.5 357 Q 95 358 94 354.5 L 96 348 Q 91.3 349 90 345.5 Q 89.3 339.8 93.5 339 L 95.5 338 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 339.5 382 Q 352.4 381.6 357 389.5 Q 358 395 354.5 396 L 348 394 Q 349 398.7 345.5 400 Q 339.8 400.8 339 396.5 L 338 392.5 Q 340.3 391.3 339 386.5 L 338 383.5 L 339.5 382 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 152.5 384 L 155 385.5 Q 158.1 389.9 157 398.5 L 152.5 405 Q 147.1 406.9 148 403.5 L 147 398 Q 141.6 399.5 140 396.5 Q 139.4 391.1 141 389 L 152.5 384 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 278 408 Q 287.1 408.4 291 415.5 Q 293.7 417.8 293 423.5 Q 292.5 426.5 288.5 426 L 285 423.5 Q 285.7 420.9 283 422 L 279.5 427 L 275 424.5 L 274 417.5 Q 278 414.3 278 408 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.25" d="M 212 409 Q 216.7 408 218 411.5 Q 223.2 415.8 222 426.5 L 217.5 430 Q 213.3 428.7 214 424 L 206.5 426 Q 203.2 424.3 204 418.5 L 206 415 L 212 410.5 L 212 409 Z "/>
  </svg>

  <svg id="ring--outer" class="ring spin--anticlockwise" opacity="0" viewBox="0 0 490 490" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 272.5 60 Q 276.8 61.3 276 66 L 283.5 64 Q 286.8 65.7 286 71.5 L 283.5 75 L 279 78.5 L 277.5 81 Q 271.8 81.8 271 77.5 L 268 70.5 L 268 63.5 L 272.5 60 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 211.5 63 L 215 65.5 L 216 72.5 L 213 76.5 L 212 82 Q 202.9 81.6 199 74.5 Q 196.3 72.2 197 66.5 Q 197.5 63.5 201.5 64 L 205 66.5 Q 204.3 69.1 207 68 L 209.5 64 L 211.5 63 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 337.5 85 Q 342.9 83.1 342 86.5 L 343 92 Q 348.4 90.5 350 93.5 Q 351.5 100.5 347.5 102 L 336.5 106 Q 331.6 101.9 333 91.5 L 337.5 85 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 144.5 90 Q 149.3 90.3 151 93.5 L 152 98.5 L 151 103.5 L 152 106.5 Q 150.5 109.5 144.5 108 Q 136.4 106.6 133 100.5 Q 132 96 134.5 95 L 142 96 Q 141 91.3 144.5 90 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 389.5 133 Q 395 132 396 135.5 L 394 142 Q 398.7 141 400 144.5 Q 400.8 150.3 396.5 151 L 391.5 152 L 386.5 151 L 383.5 152 Q 380.5 150.5 382 144.5 Q 383.9 136.9 389.5 133 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 93.5 140 Q 99.5 138.5 101 141.5 L 106 153.5 Q 101.9 158.4 91.5 157 L 85 152.5 Q 83.1 147.1 86.5 148 L 92 147 Q 90.5 141.6 93.5 140 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 419.5 197 Q 425 196 426 199.5 Q 425.7 204.7 422 206.5 L 427 210.5 L 424.5 215 L 417.5 216 L 413.5 213 L 408 212 Q 408.4 202.9 415.5 199 L 419.5 197 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 67.5 204 L 71.5 204 L 75 206 L 79.5 212 Q 82.5 211.1 81 215.5 L 71.5 222 L 63.5 222 L 60 217.5 Q 61.3 213.3 66 214 L 64 206.5 L 67.5 204 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 419.5 268 Q 428.3 266.3 430 271.5 L 426.5 276 Q 423.2 274.9 424 277.5 Q 426.6 278.9 426 283.5 Q 424.3 286.8 418.5 286 L 415 283.5 L 411.5 279 L 409 277.5 Q 408.3 272.8 411.5 272 L 419.5 268 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 67.5 274 L 72.5 274 L 76.5 277 L 82 278 Q 81.6 287.1 74.5 291 Q 72.2 293.7 66.5 293 Q 63.5 292.5 64 288.5 L 66.5 285 Q 69.1 285.7 68 283 L 64 280.5 L 63 278.5 L 65.5 275 L 67.5 274 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 390.5 333 Q 401.6 331.4 405 337.5 Q 406.9 342.9 403.5 342 L 398 343 Q 399.5 348.4 396.5 350 Q 390.5 351.5 389 348.5 L 384 336.5 L 390.5 333 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 95.5 338 L 103.5 339 L 106.5 338 Q 109.5 339.5 108 345.5 Q 106.6 353.6 100.5 357 Q 95 358 94 354.5 L 96 348 Q 91.3 349 90 345.5 Q 89.3 339.8 93.5 339 L 95.5 338 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 339.5 382 Q 352.4 381.6 357 389.5 Q 358 395 354.5 396 L 348 394 Q 349 398.7 345.5 400 Q 339.8 400.8 339 396.5 L 338 392.5 Q 340.3 391.3 339 386.5 L 338 383.5 L 339.5 382 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 152.5 384 L 155 385.5 Q 158.1 389.9 157 398.5 L 152.5 405 Q 147.1 406.9 148 403.5 L 147 398 Q 141.6 399.5 140 396.5 Q 139.4 391.1 141 389 L 152.5 384 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 278 408 Q 287.1 408.4 291 415.5 Q 293.7 417.8 293 423.5 Q 292.5 426.5 288.5 426 L 285 423.5 Q 285.7 420.9 283 422 L 279.5 427 L 275 424.5 L 274 417.5 Q 278 414.3 278 408 Z "/>
    <path fill="#fc5353"  stroke="none" opacity="0.5" d="M 212 409 Q 216.7 408 218 411.5 Q 223.2 415.8 222 426.5 L 217.5 430 Q 213.3 428.7 214 424 L 206.5 426 Q 203.2 424.3 204 418.5 L 206 415 L 212 410.5 L 212 409 Z "/>
  </svg>

</div>
