<p id="notice"><%= notice %></p>

<p>Name : <%=@click_score.name%></p>
<p>Score : <%=@click_score.score%></p>

<%= link_to 'Edit', edit_click_score_path(@click_score) %> |
<%= link_to 'Back', click_scores_path %>
